PracticaI-2023-I-SO/
Hilos/calcpi
Hilos/threads
PasoMensajes/client
PasoMensajes/server
Sincronizacion/mopex
Sincronizacion/condmopex
Sincronizacion/semaforo
Sincronizacion/sincpipes
Tarea1/T1pt1
Tarea1/T1pt2
Tarea2/pipes
Tarea2/calcpi
Tarea3/chatgpt
Tarea3/sharedmem
ArchProyectados/arch